@import "../../../../theme/colors";

.client-card {
  background-color: $color-bg-lighter;
  border: 1px $color-text-main solid;
  padding: 24px 32px;

  position: relative;
  flex-grow: 1;
  max-width: 55%;
  border-radius: 21px;
  display: flex;
  flex-direction: column;

  h4 {
    font-size: 24px;
  }

  &__secondary {
    margin-top: 16px;
  }

  &:hover {
    background-color: transparent;
    transition: background-color 0.3s ease-in-out;
    cursor: pointer;
  }

  &+.client-card {
    margin-top: 32px;
  }
}

@media (max-width: 768px) {
  .client-card {
    max-width: 100%;
  }
}