@import "../../theme/colors";

@font-face {
  font-family: Ardeco;
  src: url("../../assets/fonts/ardeco/Ardeco.ttf") format("truetype");
}

body {
  font-family: 'Raleway', sans-serif;
  color: $color-text-main;
  background-color: $color-bg;
  max-width: 1620px;
  margin: 0 auto;
}

.container {
  padding: 128px;
}

@media (max-width: 992px) {
  .container {
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 80px;
  }
}

@media (max-width: 576px) {
  .container {
    padding: 32px;
  }
}