@import "../../theme/colors";

.tabs {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
}

.tab {
  padding: 0 24px;
  border: 1px solid transparent;
  cursor: pointer;

  &__label {
    color: $color-text-main;

    &:hover {
      color: $color-text-main-op;
    }

    &_selected {
      color: $color-text-main-op;
      border-bottom: 1.5px solid $color-air-blue;
    }
  }
}



