@import "../../../../theme/colors";

.client-modal {
  display: flex;
  flex-direction: column;
  width: 40vw;
  height: 60vh;
  justify-content: center;
  align-items: center;
  background-color: $color-air-blue;
  border-radius: 16px;
  overflow: hidden;
  padding: 20px 16px;
  position: relative;

  //&__items {
  //  display: 'flex',
  //  flexDirection: 'column',
  //  width: '100%',
  //  height: '100%',
  //  maxHeight: '100%',
  //  overflowY: 'auto',
  //  overflowX: 'hidden',
  //  alignItems: 'center',
  //  paddingTop: 20,
  //  paddingBottom: 20,
  //  rowGap: '30px'
  //}
}

@media (max-width: 768px) {

}