$color-bg: rgb(236, 232, 228);
$color-bg-lighter: #f6f3ef;
$color-bg-op: rgba(236, 232, 228, 0.74);
$color-logo: #bdab9f;
$color-text-main: #655952;
$color-text-main-op: rgba(101, 89, 82, 0.7);
$color-raw-umber: #856a5d;
$color-bright-main: #60463b;
$color-text-main-dark: #383227;
$color-bg-dark: #2a271e;
$color-bg-teal: rgba(48, 133, 163, 0.37);
$color-bg-text-teal: #3085A3FF;
$color-air-blue: #739AAA;
$color-main-teal: #609DB6;