@import "../../../../theme/colors";

.clients-tab {
  margin-top: 24px;

  &__filter {
    border: 1px $color-text-main solid;
    border-radius: 24px;
    padding: 24px 32px;

    h3 {
      font-size: 24px;
      font-weight: 200;
    }
  }

}