@import "../../../theme/colors";

.container-header {
  padding-left: 128px;
  padding-right: 128px;
  margin-top: 12px;
  margin-bottom: 12px;
}

header {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  list-style: none;

  li {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}


.header__nav-link {
  text-decoration: none;
  color: $color-text-main;
  white-space: nowrap;
}

.header__nav-link_dropdown::after {
  content: "";
  display: inline-block;

  background: $color-text-main;
  width: 16px;
  height: 12px;
  mask-image: url("assets/list-arrow.svg");
  mask-repeat: no-repeat;

  margin-left: 4px;
}

.header__dropdown-container {
  margin-top: 8px;
}

.header__dropdown-menu {
  display: none;
  list-style: none;
  position: absolute;
  overflow: auto;
  background-color: $color-bg-lighter;
  padding: 16px;

  a {
    color: $color-text-main;
    text-decoration: none;

    &:hover {
      color: $color-text-main-dark;
    }
  }

  li + li {
    padding-top: 16px;
  }
}

.header__dropdown:hover .header__dropdown-menu {
  display: inline-block;
}

@mixin user-icon($img-src) {
  content: "";
  display: block;
  height: 32px;
  width: 32px;

  background: $color-text-main;
  background-size: 40px 40px;

  mask-image: url($img-src);
  mask-repeat: no-repeat;
  mask-size: contain;

  @media (max-width: 576px) {
    height: 16px;
    width: 32px;
  }
}

.header__user-icon {
  @include user-icon("./assets/user-svg/user-minimalizm.svg")
}

.header__user-icon_dropdown {
  @include user-icon("./assets/user-svg/user-minimalizm.svg")
}

.header__user-icon_dropdown {
  mask-image: url("./assets/user-svg/user-with-arrow.svg");
}

@media (max-width: 992px) {
  .container-header {
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media (max-width: 576px) {
  .container-header {
    padding-left: 32px;
    padding-right: 32px;
  }

  .header__dropdown-container {
    margin-top: 4px;
  }

  .header__nav li {
    margin-left: 0.4rem;
    margin-right: 0.4rem;
    font-size: 0.6rem;
  }

  .header__nav-link_dropdown::after {
    width: 8px;
    height: 8px;
  }

  .header__dropdown-menu {
    padding: 8px;
  }
}