* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Rawline, sans-serif;
}

@font-face {
  font-family: Rawline;
  src: url("assets/fonts/rawline/rawline-100.ttf") format("truetype");
  font-weight: 100;
}

@font-face {
  font-family: Rawline;
  src: url("assets/fonts/rawline/rawline-200.ttf") format("truetype");
  font-weight: 200;
}

@font-face {
  font-family: Rawline;
  src: url("assets/fonts/rawline/rawline-300.ttf") format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: Rawline;
  src: url("assets/fonts/rawline/rawline-400.ttf") format("truetype");
  font-weight: 400;
}