@import "../../../theme/colors";

.text-input {
  margin-top: 16px;

  input {
    border: $color-logo solid 1px;
    border-radius: 21px;
    background-color: $color-bg-lighter;

    color: $color-text-main;
    font-size: 18px;
    padding: 10px 20px;

    width: 100%;
  }
}


@media (max-width: 576px) {
  .text-input {
    input {
      font-size: 14px;
      padding: 10px 16px;
    }
  }
}