@import "../../../theme/colors";

.text-input {
  border: $color-logo solid 1px;
  margin-top: 16px;

  input {
    background-color: transparent;
    color: $color-text-main;
    font-size: 18px;
    outline: none;
    border: none;
    padding: 20px;
    width: 100%;
  }
}


//@media (max-width: 576px) {
//}